body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  padding: 20px;
}

.intro {
  text-align: center;
  margin-bottom: 40px;
}

.team-members h2 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 20px;
}

.team-members ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.team-members li {
  margin-bottom: 20px;
}

.team-member {
  display: inline-block;
  background-color: #030f83;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.team-member:hover {
  background-color: #555;
  transform: translateY(-5px);
}

footer {
  text-align: center;
  padding: 1em 0;
  background-color: #333;
  color: #fff;
}

.header-container {
  position: relative;
  text-align: center;
  background-image: url('../images/mountain.png'); /* Adjust path as necessary */
  background-size: cover;
  background-position: center;
  padding: 1em 0;
  height: 200px; /* Adjust height as necessary */
}

.header-container h1 {
  background-color: rgba(255, 255, 255, 0.7); /* White with 70% opacity */
  display: inline-block;
  padding: 10px;
}
