body {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f0f0f0;
}

h1{
    color: #fff;
}

h2, h3 {
    color: #333;
    padding: 40px;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
}

header a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 10px;
}

header ul {
    padding: 0;
}

header li {
    display: inline;
}

h1 {
    font-weight: 600;
    margin-bottom: 10px;
}

.introduction {
    background-color: #ecf0f1;
    padding: 40px 20px;
    text-align: center;
}

.introduction h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px 20px;
}

.project {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.project h3 {
    font-size: 1.5em;
    margin-top: 0;
}

.contact {
    padding: 40px 20px;
    background-color: #ecf0f1;
    text-align: center;
}

.contact a {
    color: #e74c3c;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.internship, .teaching-assistant, .embedded-project{
    padding: 40px 20px;
    background-color: #ecf0f1;
    text-align: center;
}

.limited-width {
    max-width: 60%; /* Adjust this percentage to your desired maximum width relative to the container */
    margin: 0 auto; /* Centers the paragraph if the container allows */
}

.feature-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.small-image {
    width: 30%; /* or any other size you prefer */
    margin: 0 auto; /* to center the image */
    display: block; /* add this line */
}
